@import 'https://fonts.googleapis.com/css?family=Didact+Gothic';
html {
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  position: relative;
  font-family: 'Didact Gothic';
}

#center {
  z-index: 99999;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 25%;
  min-width: 340px;
  height: 80px;
  text-transform: uppercase;
  text-align: center;
  border-radius: 25px;
  color: white;
}

#center.beta .top,
#center.beta .bottom {
  height: 30%;
  width: 100%;
  float: left;
  background-color: rgba(0, 0, 0, 0.95);
  border: solid thin white;
  box-sizing: content-box;
}

#center.beta .top {
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
}

#center.beta .bottom {
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;
}

#center.beta .top p,
#center.beta .middle p {
  text-align: left;
  margin: 0;
  padding-left: 3px;
  float: left;
}

#center.beta .middle {
  height: 30%;
  width: 100%;
  float: left;
  background-color: rgba(0, 0, 0, 0.7);
  border: solid thin white;
  box-sizing: content-box;
  padding: 5px 0;
}

#center.beta .middle p {
  line-height: 24px;
  font-size: 28px;
  padding-left: 10px;
}

#center.beta .middle .cursor {
  height: 2px;
  width: 12px;
  border: none;
  animation: blink-empty 0.5s infinite;
  background-colour: transparent;
  position: absolute;
  bottom: 26px;
  left: 298px;
}

@keyframes blink-empty {
  50% {background-color: white;}
}

@media all and (max-width: 450px) {
  #left,
  div[class^=left-detail],
  #right,
  div[class^=right-detail] {
    display: none;
  }
}
